---
layout: page
---

{% include post-summary-details.html post=page %}

<div>{{ content }}</div>

<h2>Meet the author</h2>
<div class="post-author staff">
	{% assign author_id = page.author_staff_member | prepend: "/staff_members/" | append: "/" %}
	{% assign author = site.staff_members | where: "url", author_id | first %}

	{% if author %}
		{% include staff-member.html member=author %}
	{% else %}
		<p>Author information not available.</p> <!-- Fallback message -->
	{% endif %}
</div>

<h2>Keep reading</h2>
<ol class="post-links post-list">
	{% if page.next %}
		{% include post-summary.html post=page.next %}
	{% elsif page.previous %}
		{% include post-summary.html post=page.previous %}
	{% else %}
		<li>No more posts available.</li> <!-- Fallback message -->
	{% endif %}
</ol>

{% if site.disqus_shortname %}
	<h2>Have your say</h2>
	<div class="post-comments" id="disqus_thread"></div>

	<script>
		(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% else %}
	<p>Comments are currently disabled.</p> <!-- Message if Disqus is not enabled -->
{% endif %}
